@model IEnumerable<Inventory_Asp_Core_MVC_Ajax.Core.Classes.SupplierModel>

@*For displaying supplier info*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Supplier Table</h6>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-sm table-hover table-condensed"
               id="table-supplier" width="100%" cellspacing="0" style="color: black;">
            @Html.AntiForgeryToken()

            <thead>
                <tr>
                    <th style="width: 10%">
                        <label asp-for="@Model.First().CompanyName"></label>
                    </th>
                    <th style="width: 10%">
                        <label asp-for="@Model.First().ContactName"></label>
                    </th>
                    <th style="width: 10%">
                        <label asp-for="@Model.First().EmergencyMobile"></label>
                    </th>
                    <th style="width: 10%">
                        <label asp-for="@Model.First().Phone"></label>
                    </th>
                    <th style="width: 4%">
                        <label>Status</label>
                    </th>
                    <th style="width: 10%">
                        <label asp-for="@Model.First().City"></label>
                    </th>
                    <th style="width: 20%">
                        <label asp-for="@Model.First().Address"></label>
                    </th>
                    <th style="width: 10%">
                        <label asp-for="@Model.First().PostalCode"></label>
                    </th>
                    <th style="width: 20%">
                        <label asp-for="@Model.First().HomePage"></label>
                    </th>
                    <th style="width: 4%">
                        <label>Edit</label>
                    </th>
                    <th style="width: 4%">
                        <label>Delete</label>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>













