@model IEnumerable<Inventory_Asp_Core_MVC_Ajax.Models.Classes.StorageModel>
@*For displaying storage info*@
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<table id="table-storage" class="table table-sm table-striped" style="color: black; width:100%">

    <thead>
        <tr>
            <label type="hidden" id="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
            <label asp-for="@Model.First().Id" hidden></label>
            <th>
                <label asp-for="@Model.First().Name"></label>
            </th>
            <th>
                <label asp-for="@Model.First().Phone"></label>
            </th>
            <th>
                <label>Status</label>
            </th>
            <th>
                <label asp-for="@Model.First().City"></label>
            </th>
            <th>
                <label asp-for="@Model.First().Address"></label>
            </th>
            <th>
                <label>Update</label>
            </th>
            <th>
                <label>Delete</label>
            </th>
        </tr>
    </thead>
</table>
