@model IEnumerable<Inventory_Asp_Core_MVC_Ajax.Models.Classes.StorageModel>

@*For displaying storage info*@
@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    <label asp-for="@Model.FirstOrDefault().Name"></label>
                </th>
                <th>
                    <label asp-for="@Model.FirstOrDefault().Phone"></label>
                </th>
                <th>
                    <label asp-for="@Model.FirstOrDefault().Address"></label>
                </th>
                <th>
                    <a onclick="showStorageInPopup('@Url.Action("AddOrEditStorage", "Storage", new { id = 0}, Context.Request.Scheme)', 'New Storage')"
                       class="btn btn-success text-white"><i class="fas fa-random"></i>New Storage</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @{int index = 1; }
            @foreach (var s in Model)
            {
                <tr>
                    <td>
                        @(index++)
                    </td>
                    <td>
                        @Html.DisplayFor(m => s.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => s.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(m => s.Address)
                    </td>
                    <td>
                        <a asp-controller="Product" asp-action="Products" asp-route-storageId="@s.Id" class="btn btn-info">View Products</a>
                    </td>
                    <td>
                        <a onclick="showStorageInPopup('@Url.Action("AddOrEditStorage", "Storage", new { id = s.Id}, Context.Request.Scheme)', 'Update Storage')"
                           class="btn btn-warning text-white"><i class="fas fa-pencil-alt"></i>Edit</a>

                        <form asp-controller="Storage" asp-action="DeleteStorage" asp-route-id="@s.Id"
                              onsubmit="return jQueryAjaxDeleteStorage(this)" class="d-inline">
                            <input type="hidden" asp-for="@s.Id" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Storages Availale</p>
}