@model Inventory_Asp_Core_MVC_Ajax.Models.Classes.ProductModel
@{
    ViewData["Title"] = "Delete";
}

<h4>Delete Product</h4>
<hr />
<dv>
    <div class="form-row">
        <div class="form-group col-md-6">
            <b>Product @Html.DisplayNameFor(model => model.Name) : </b>
            @Html.DisplayFor(modelItem => modelItem.Name)
        </div>
        <div class="form-group col-md-6">
            <b>Product @Html.DisplayNameFor(model => model.Barcode) : </b> 
            @Html.DisplayFor(modelItem => modelItem.Barcode)
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <b>@Html.DisplayNameFor(model => model.Type) : </b> 
            @Html.DisplayFor(modelItem => modelItem.Type)
        </div>
        <div class="form-group col-md-6">
            <b>@Html.DisplayNameFor(model => model.Quantity) : </b> 
            @Html.DisplayFor(modelItem => modelItem.Quantity)
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <b>@Html.DisplayNameFor(model => model.IsAvailable) : </b> 
            @Html.DisplayFor(modelItem => modelItem.IsAvailable)
        </div>
        <div class="form-group col-md-6">
            <b>@Html.DisplayNameFor(model => model.Price) : </b> 
            @Html.DisplayFor(modelItem => modelItem.Price)
        </div>
    </div>
    <b>@Html.DisplayNameFor(model => model.Description) : </b> 
    @Html.DisplayFor(modelItem => modelItem.Description)
</dv>
<br />
<br />
<hr />
<form asp-controller="Product" asp-action="DeleteProduct">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="StorageId" />
    <input type="submit" value="Delete" class="btn btn-danger btn-lg btn-block" />
</form>
<br />
<br />
<div>
    <a asp-controller="Product" asp-action="Products" asp-route-StorageId="@Model.StorageId"
       class="btn btn-primary btn-lg btn-block">Back to Product Table</a>
</div>
