
@model Inventory_Asp_Core_MVC_Ajax.Models.Classes.StorageModel
@{
    var product = Model.ProductModels.First();
    var images = product.ImageModels;
    ViewData["Title"] = "Products";
}

<div class="form-row">
    <div class="form-group col-md-3">
        <h2>Product Table</h2>
    </div>
    <div class="form-group col-md-3">
        <a asp-controller="Image" asp-action="CreateImage" asp-route-productId="@product.Id" 
           class="btn btn-success"> Add New Image</a>
    </div>
    <div class="form-group col-md-3">
        <a asp-controller="Product" asp-action="Products" asp-route-storageId="@Model.Id" 
           class="btn btn-primary ">Back to Product Table</a>
    </div>
</div>
<hr />

@* For displaying Store info*@
<dv>
    <div class="form-row">
        <div class="form-group col-md-3">
            <b>Store @Html.DisplayNameFor(model => model.Name)  : </b> @Html.DisplayFor(modelItem => modelItem.Name)
        </div>
        <div class="form-group col-md-3">
            <b>Store @Html.DisplayNameFor(model => model.Phone)  : </b> @Html.DisplayFor(modelItem => modelItem.Phone)
        </div>
        <div class="form-group col-md-3">
            <b>@Html.DisplayNameFor(model => model.Address)  : </b> @Html.DisplayFor(modelItem => modelItem.Address)
        </div>
    </div>
</dv>
<hr />

@* For displaying Product info*@
<dv>
    <div class="form-row">
        <div class="form-group col-md-3">
            <b>Product @Html.DisplayNameFor(m => product.Name)  : </b> 
            @Html.DisplayFor(modelItem => product.Name)
        </div>
        <div class="form-group col-md-3">
            <b>@Html.DisplayNameFor(m => product.Barcode)  : </b> 
            @Html.DisplayFor(modelItem => product.Barcode)
        </div>
        <div class="form-group col-md-3">
            <b>@Html.DisplayNameFor(m => product.Quantity)  : </b>
            @Html.DisplayFor(modelItem => product.Quantity)
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <b>Product @Html.DisplayNameFor(m => product.Type) : </b> 
            @Html.DisplayFor(modelItem => product.Type)
        </div>
        <div class="form-group col-md-3">
            <b> @Html.DisplayNameFor(m => product.IsAvailable) : </b> 
            @Html.DisplayFor(modelItem => product.IsAvailable)
        </div>
        <div class="form-group col-md-3">
            <b>@Html.DisplayNameFor(m => product.Price) : </b> 
            @Html.DisplayFor(modelItem => product.Price)
        </div>
    </div>
</dv>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => images.First().Title)
            </th>
            <th>
                Image
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var image in images)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => image.Title)
            </td>
            <td>
                <figure class="figure">
                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(image.Data))"
                         class="rounded mx-auto d-block img-fluid" alt="Responsive image">
                    <figcaption class="figure-caption">A caption for the above image.</figcaption>
                </figure>
            </td>
            <td>
                <a asp-controller="Image" asp-action="DeleteImage" asp-route-id="@image.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>